---
import ContactForm from "../common/Contact_Form.astro";
---

<section>
    <div class="container">
        <div class="contact-head">
            <h2>Get in Touch for PVC Fencing on the Central Coast</h2>
            <p>
                Ready to upgrade your property with premium PVC fencing? Whether
                you need a quote, have questions, or want expert advice, we’re
                here to help. We service homes and properties across the Central
                Coast with reliable, professional installation.
            </p>
        </div>
        <div class="form">
            <ContactForm />
        </div>

        <div class="contact-information">
            <div class="info-header">
                <h3>Contact Us Directly</h3>
                <p>
                    Want to speak with someone now? Call or message us for fast,
                    friendly support, no call centres, no delays.
                </p>
            </div>

            <div class="info">
                <h4>Phone</h4>
                <a href="tel:0405 105 855">0405 105 855</a>
            </div>

            <div class="info">
                <h4>Email</h4>
                <a href="mailto:info@pvcfencingcentralcoast.com"
                    >info@pvcfencingcentralcoast.com</a
                >
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
    }
    .contact-head {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .info-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        .contact-head {
            grid-area: contact-head;
        }
        .form {
            grid-area: form;
            margin-top: 3rem;
        }
        .contact-information {
            margin-top: 3rem;
            grid-area: info;
            box-shadow: var(--box-shadow);
            padding: 1rem;
            height: fit-content;
        }
        .container {
            display: grid;
            grid-template-columns: 0.8fr 1fr;
            grid-template-areas:
                "contact-head contact-head"
                "info form";
            gap: 2rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            gap: 6rem;
        }
        .form {
            max-width: 440px;
        }
    }
    @media (min-width: 1440px) {
        .contact-information {
            padding: 2rem;
        }
    }
</style>
