---
import { Image } from "astro:assets";
import ServicesWhy from "./Services_Why.astro";
import ServicesCTA from "./Services_CTA.astro";
import PVCimage from "@images/pvc-picket-fence.jpg";
---

<section>
    <div class="container">
        <h2>Picket PVC Fencing</h2>
        <p>
            Picket fencing is perfect for creating a timeless, welcoming look
            around your home or front yard. Our PVC picket fences offer the
            charm of traditional timber without the maintenance. They’re
            available in a variety of heights, top styles, and gate options to
            suit any property on the Central Coast.
        </p>
        <Image
            src={PVCimage}
            alt="Picket PVC fences on the central coast"
            class="image"
        />
        <div class="why-list">
            <ServicesWhy
                title="Why Choose PVC Picket Fencing?"
                whyList={[
                    "Timeless Street Appeal",
                    "No Rot, Painting or Termite Worries",
                    "Customisable for Your Home",
                ]}
            />
        </div>

        <div class="cta">
            <ServicesCTA
                title="Want the charm of picket fencing without the hassle?"
                text="Get in touch with our team to explore styles, measure your property, and receive a free quote on PVC picket fencing."
            />
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .image {
        width: 100%;
        height: 340px;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: var(--box-shadow);
    }
    .why-list,
    .cta {
        margin: 2rem 0px;
    }
    @media (min-width: 768px) {
        .container {
            gap: 4rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        h2 {
            grid-area: 1 / 1 / 2 / 3;
        }
    }

    @media (min-width: 1440px) {
        .container {
            column-gap: 6rem;
        }
        h2 {
            margin-bottom: 2rem;
        }
    }
</style>
