---
import { Image } from "astro:assets";
import carrot from "@icons/carrot-orange.svg";

const { qaObject } = Astro.props;
---

<div class="faq">
    {
        qaObject.map((qa) => (
            <details>
                <span>{qa.a}</span>
                <summary>
                    {qa.q}
                    <Image src={carrot} alt="dropdown" />
                </summary>
            </details>
        ))
    }
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    details {
        padding: 1rem;
        line-height: 2rem;
        background-color: var(--brand-blue);
        border-radius: 3px;
        color: white;
        box-shadow: var(--box-shadow);
    }
    summary {
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.6rem;
        gap: 1rem;
    }
    details[open] summary {
        margin-bottom: 1rem;
    }
    details[open] summary img {
        transform: rotate(180deg);
    }
    .faq {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    @media (min-width: 1024px) {
        details {
            cursor: pointer;
            transition: background-color 0.15s ease;
        }
        details:hover {
            background-color: #3f5bb5;
        }
    }
</style>
